@darkrock: #171617;
@rock: #2c2d2e;
@darkgrey: #535557;
@grey: #818796;
@cloud: #e6e7e7;
@turquoise: #9bfda6;
@leaf: #a8ff60;
@sky: #c4f2e0;
@cobalt: #406ddf;
@purple: #7a99ff;
@wine: #a84d70;
@aubergine: #693d50;
@sap: #fde9a2;
